server:
  port: 8761

spring:
  application:
    name: discovery-server
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://db:5432/techconnect}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: none

# Eureka server configuration
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
